<div class="card">
  <div class="card__visual visual">
    <img [src]="pollCart.image" alt="Картинка голосования" class="visual__image" />
    <span class="visual__voters-count">{{ pollCart.points }}</span>
    <span class="visual__points">{{ pollCart.points > 0 ? '+' : '' }}{{ pollCart.points }} Б</span>
  </div>
  <div class="card__meta meta">
    <div class="meta__icon">
      <img [src]="pollCart.smallIcon" alt="Иконка категории" class="meta__icon-image" />
    </div>
    <div class="meta__info">
      <span class="meta__category-name" [style]="{ backgroundColor: pollCart.backgroundColor }">{{
        pollCart.name
      }}</span>
      <h2 class="meta__title">{{ pollCart.title }}</h2>
    </div>
  </div>
</div>
